<% layout('layouts/boilerplate') %> 
        <div class="text-left">
            <h1>Wellcome to Aircnc</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="/campgrounds" role="button">All Housings</a></p>
          </div>