<% layout('layouts/boilerplate') %> 
        <div class="text-left">
            <h1 class="font-weight-bold mb-5">Wellcome to Aircnc</h1>
            <h2 class="font-weight-normal">Make searching easy</h2>
            <h2 class="font-weight-normal">Make renting easy</h2>
            
            <p><a class="btn btn-lg btn-primary" href="/campgrounds" role="button">All Housings</a></p>
          </div>