<% layout('layouts/boilerplate')%>
<h1>Login</h1>
<form action="/manager/login" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="name">Manager name</label>
        <input class="form-control" type="text" id="name" name="name" required>
        <div class="valid-feedback">
            Great!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Great!
        </div>
    </div>
    <button class="btn btn-success">Login</button>
    <a href="/manager/register" class="btn btn-warning">Sign up</a>

</form>